body {
background: rgb(211,211,211);
color: rgb(0,128,255);
}
#centered {
  text-align: center;
}
.table{
color: rgb(0,128,255);
}
header {
  background: rgb(240,255,255);
}
a {
  color: purple;
}
.deque-table-sortable-group caption,
.deque-table-responsive caption {
  margin-bottom: 15px;
}
.deque-table-sortable-group table,
.deque-table-responsive table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: visible;
  margin-top: 8px;
  width: 100%;
}
.deque-table-sortable-group table thead,
.deque-table-responsive table thead {
  border-bottom: 1px solid #e3e3e3;
}
.deque-table-sortable-group table thead th,
.deque-table-responsive table thead th {
  position: relative;
  line-height: 16px;
  vertical-align: bottom;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  border-right: 1px solid #cccccc;
}
.deque-table-sortable-group table thead th:last-child,
.deque-table-responsive table thead th:last-child {
  border-right: none;
}
.deque-table-sortable-group table thead th .sortableColumnLabel,
.deque-table-responsive table thead th .sortableColumnLabel {
  width: 100%;
  display: inline-block;
  height: 100%;
  outline: none;
  cursor: pointer;
  padding: 0 0 0 25px;
  text-align: left;
}
.deque-table-sortable-group table thead th .sortableColumnLabel:focus,
.deque-table-responsive table thead th .sortableColumnLabel:focus,
.deque-table-sortable-group table thead th .sortableColumnLabel:active,
.deque-table-responsive table thead th .sortableColumnLabel:active {
  outline: 1px dashed #000000;
}
.deque-table-sortable-group table thead th .sortableColumnLabel:hover,
.deque-table-responsive table thead th .sortableColumnLabel:hover {
  outline: 1px dashed #767676;
}
.deque-table-sortable-group table thead th .sortableColumnLabel:after,
.deque-table-responsive table thead th .sortableColumnLabel:after {
  content: '\E738';
  font-family: 'mwf-glyphs';
  position: absolute;
  left: 6px;
  font-size: 12px;
}
.deque-table-sortable-group table thead th button,
.deque-table-responsive table thead th button {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  background: transparent;
  border: 0;
  padding-left: 0;
}
.deque-table-sortable-group table thead th button:hover,
.deque-table-responsive table thead th button:hover {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.deque-table-sortable-group table thead th button:focus,
.deque-table-responsive table thead th button:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.6);
  margin: 0;
}
.deque-table-sortable-group table thead th button:active,
.deque-table-responsive table thead th button:active {
  color: #000000;
  outline: 1px solid transparent;
  margin: 0;
}
.deque-table-sortable-group table thead th[colspan]:not([colspan='1']),
.deque-table-responsive table thead th[colspan]:not([colspan='1']) {
  text-align: center;
}
.deque-table-sortable-group table thead th[aria-sort='descending'] .sortableColumnLabel:after,
.deque-table-responsive table thead th[aria-sort='descending'] .sortableColumnLabel:after {
  content: '\E70D';
  font-family: 'mwf-glyphs';
  position: absolute;
  left: 6px;
  font-size: 12px;
}
.deque-table-sortable-group table thead th[aria-sort='ascending'] .sortableColumnLabel:after,
.deque-table-responsive table thead th[aria-sort='ascending'] .sortableColumnLabel:after {
  content: '\E70E';
  font-family: 'mwf-glyphs';
  position: absolute;
  left: 6px;
  font-size: 12px;
}
.deque-table-sortable-group table thead:before,
.deque-table-responsive table thead:before {
  content: '';
  display: block;
  width: 7px;
}
.deque-table-sortable-group table thead td,
.deque-table-responsive table thead td,
.deque-table-sortable-group table thead th,
.deque-table-responsive table thead th {
  padding: 12px 0;
  text-align: left;
}
.deque-table-sortable-group table tbody tr:nth-child(even),
.deque-table-responsive table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}
.deque-table-sortable-group table tbody td,
.deque-table-responsive table tbody td,
.deque-table-sortable-group table tbody th,
.deque-table-responsive table tbody th {
  text-align: left;
  padding: 7px;
  border-right: 1px solid #cccccc;
}
.deque-table-sortable-group table tbody td:last-child,
.deque-table-responsive table tbody td:last-child,
.deque-table-sortable-group table tbody th:last-child,
.deque-table-responsive table tbody th:last-child {
  border-right: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  border:1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
